/* This CSS is common to all pages */

/* import inter font */
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.custom_counter {
  counter-reset: my-awesome-counter;
}
.custom_counter li  {
  counter-increment: my-awesome-counter;
}
.custom_counter li::before  {
  content: "0" counter(my-awesome-counter);
}
@layer components {
  /* This won't be included in your compiled CSS unless you actually use it */
  .herogradient {
    background-color:hsla(195,68%,28%,1);
    background-image:
    radial-gradient(at 87% 84%, hsla(0,74%,35%,0.7) 0px, transparent 50%),
    radial-gradient(at 83% 47%, hsla(279,96%,17%,1) 0px, transparent 50%),
    radial-gradient(at 79% 57%, hsla(220,64%,17%,1) 0px, transparent 50%),
    radial-gradient(at 13% 70%, hsla(238,71%,17%,1) 0px, transparent 50%),
    radial-gradient(at 49% 31%, hsla(240,92%,17%,1) 0px, transparent 50%),
    radial-gradient(at 42% 41%, hsla(231,65%,17%,1) 0px, transparent 50%);
  }


}
